<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">


	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target
					name="Error"
					xsi:type="File"
					layout="${longdate}|${event-properties:item=EventId_Id}|Stacktrace-${stacktrace}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}"
					 fileName="${basedir}../Data/${date:format=yyyy-MM-dd}-ExceptionLog.txt"
					archiveAboveSize ="5000000"
					maxArchiveFiles="2"/>
		<target
				 name="Audit"
				xsi:type="File"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}"
				 fileName="${basedir}../Data/${date:format=yyyy-MM-dd}-InfoLog.txt"
				archiveAboveSize ="5000000"
				maxArchiveFiles="2"/>
	</targets>

	<rules>
		<logger name="error" minlevel="Trace" writeTo="Error" />
		<logger name="info" minlevel="Trace" writeTo="Audit" />
	</rules>
</nlog>

